@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,100;1,500;1,600;1,700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	border: none;
	outline: none;
}
body {
	background-image: linear-gradient(to bottom, #000 50%, #1da1f2 50%);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 800px;
	padding: 30px 40px;
	border-radius: 7px;
	background-color: #201f28;
	box-shadow: 6px 6px 20px #000;
	margin: 30px 0;
}
.search {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 60px;
	/* border: 1px solid red; */
}
.search input {
	padding: 0 10px;
	font-size: 1rem;
	outline: none;
	background-color: transparent;
	width: calc(80% - 50px);
	border: 0 0 20px 20px;
	border: 1px solid #999;
	border-right: 2px solid transparent;
	border-radius: 20px 0 0 20px;
}

.search button {
	color: #000;
	background-color: #1da1f2;
	width: calc(20% - 20px);
	border-radius: 7px;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 0 20px 20px 0;
}
.search button:hover {
	background-color: rgba(33, 140, 207, 0.856);
}
.info {
	position: relative;
	display: grid;
	grid-template-columns: 4fr 8fr;
	align-items: center;
	margin-top: 2rem;
}
.poster {
	width: 100%;
	border-radius: 10px;
	box-shadow: 1px 2px 20px #2b2e35;
	min-height: 100px;
}
h2 {
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.08em;
}
.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.6rem;
	margin: 0.6em 0 0.9em 0;
}
.rating h4 {
	font-size: 1.1em;
	font-weight: 600;
}
h3 {
	margin-top: 20px;
	font-weight: 500;
	color: #999;
}
p {
	color: #a29d9d;
	margin-top: 5px;
	font-size: 15px;
}
.details {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.details span {
	margin: 0 20px;
	font-weight: 500;
	color: #999;
}
.genre {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	width: 100%;
}
.genre div {
	border: 1px solid #5d5d5d;
	margin: 0 10px;
	padding: 5px 30px;
	border-radius: 5px;
	color: #999;
}
@media screen and (max-width: 645px) {
	.info {
		display: flex;
		flex-direction: column;
	}
	.poster {
		width: 200px;
	}
}
.loader {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.loading {
	width: 50px;
	height: 50px;
	border: 4px solid #999;
	border-top: 4px solid #201f28;
	border-radius: 50%;
	animation: loadingEffect 0.8s linear infinite;
}
@keyframes loadingEffect {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
