@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,100;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
	border: none;
	outline: none;
}
body {
	font-family: 'Poppins', sans-serif;
	background-image: linear-gradient(to bottom, #000000 50%, #4e4feb 50%);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 990px;
	width: 100%;
	padding: 30px 10px;
	border-radius: 7px;
	background-color: #201f28;
	box-shadow: 6px 6px 20px #000;
	margin: 10px;
}
.search {
	display: flex;
	justify-content: center;
	width: 100%;
}
.search input {
	padding: 10px;
	font-size: 17px;
	outline: none;
	background-color: transparent;
	width: 100%;
	border: 0 0 20px 20px;
	border-bottom: 1px solid #726a6a76;
	color: #aeaeb4;
}

.search button {
	color: #000;
	background: transparent;
	text-align: center;
	margin: 0 auto;
	font-size: 1rem;
	cursor: pointer;
	position: relative;
	right: 40px;
}

.info {
	position: relative;
	display: grid;
	grid-template-columns: 4fr 8fr;
	align-items: center;
	margin-top: 2rem;
}
.poster {
	width: 100%;
	border-radius: 10px;
	box-shadow: 1px 2px 20px #2b2e35;
	min-height: 100px;
}
h2 {
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.08em;
}
.rating {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.6rem;
	margin: 0.6em 0 0.9em 0;
}
.rating h4 {
	font-size: 1.1em;
	font-weight: 600;
}
h3 {
	margin-top: 20px;
	font-weight: 500;
	color: #999;
}
p {
	color: #a29d9d;
	margin-top: 5px;
	font-size: 17px;
	opacity: 0.8;
}
.details {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.details span {
	margin: 0 20px;
	color: #999;
}
.genre {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	width: 100%;
}
.genre div {
	border: 1px solid #726c6c64;
	margin: 0 10px;
	padding: 5px 30px;
	border-radius: 5px;
	color: #ffffff90;
}
.loader {
	display: none;
}
.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-spinner div {
	transform-origin: 40px 40px;
	animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 3px;
	left: 37px;
	width: 6px;
	height: 18px;
	border-radius: 20%;
	background: #817b7b;
}
.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 610px) {
	.info {
		display: flex;
		flex-direction: column;
		width: 100%;
		flex-wrap: wrap;
	}
	.info img {
		width: 50%;
	}
	.genre {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 100%;
		padding: 10px 0;
	}
	.genre div {
		margin-top: 10px;
		width: 100%;
	}
	.info h2 {
		margin-top: 10px;
	}
}
